body{
    margin: 0;
}


img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    width: 400px;
    border-bottom: 2px solid pink;
    border-right: 2px solid red;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 30px
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img:hover {
    transform: scale(1.1);
    
}
